// Fuentes
$fuente-principal: "Roboto", sans-serif;
// Tamaño de Media Queries
$telefono-pequeño: 360px;
$telefono: 600px;
$tablet: 800px;
$desktop: 1280px;
// Colores
$azul: #1d294a;
$azul-claro: #12b6f1;
$negro: #1a1b15;
$white: #ffffff;
$gris: #afafaf;
$coral: coral;
$light: #cecdca;
$dark: #474545;
//separacion
$separacion: 5rem;
// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//animaciones
$ease: all 0.3s ease-in-out;

//prueba
$marco: 1px solid white;
